{# pages/templates/pages/about.html #}
{% extends 'base.html' %}
{% block title %}
  About
{% endblock %}
{% block content %}
  <div class="container content_block">
    <h4 class="text-muted mb-3">About</h4>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia fugiat explicabo dignissimos esse, tempore eaque ab a eum rerum consequuntur molestiae corporis, labore, inventore excepturi nulla perspiciatis earum at aliquam?
    Odit deserunt quis doloremque amet? Voluptates quod a magni alias, natus excepturi rem molestias error nulla quibusdam fugiat sit, corrupti atque eius sequi dolorum enim asperiores, autem explicabo hic dolores.
    Rerum, dignissimos? In, enim? Nobis suscipit asperiores nesciunt repellendus natus ipsam odit corporis enim voluptatibus similique aliquam qui cumque magni quaerat quia, quod recusandae rem at architecto, tempore sed. Deserunt!
    Dolor amet a rem eveniet perspiciatis ea repellendus! Necessitatibus, quos ea est exercitationem iste quas nemo, eligendi dolorum quibusdam voluptas accusamus perferendis! Quasi molestias facere quae incidunt minus sunt velit.
    Voluptates nisi quod dolorem quam omnis architecto ratione veniam beatae? Reiciendis, libero molestiae! Quaerat numquam, commodi accusantium sapiente voluptatem similique eos explicabo ex fugiat amet velit repudiandae mollitia iste voluptatibus?</p>
  </div>
{% endblock %}
