{# pages/templates/pages/about.html #}
{% extends 'base.html' %}
{% block title %}
  Contacts
{% endblock %}
{% block content %}
  <div class="container content_block">
    <h4 class="text-muted mb-3">Contacts</h4>
    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellendus accusantium animi voluptatibus vero pariatur quidem sapiente, eos inventore doloribus. Debitis voluptate iusto enim excepturi quisquam omnis, necessitatibus voluptatibus rem?
    Minus vel non iusto enim nihil exercitationem ut quisquam possimus omnis error totam at rerum quidem, ab culpa officiis labore eos explicabo laboriosam molestias recusandae architecto tempore porro nostrum? Obcaecati.
    Nobis esse earum animi? Temporibus doloribus deserunt pariatur nesciunt officiis sequi incidunt in reprehenderit veritatis, optio, accusantium quaerat aliquid cupiditate ratione accusamus ullam eius, sed enim debitis repellendus quae? Deleniti.
    Hic sint pariatur, id ducimus nam eveniet, voluptate sed totam, aperiam ipsa neque veniam eos perspiciatis voluptatibus architecto qui ut minus nesciunt. Unde nam velit neque laudantium sunt cumque tempore?
    Maiores at illum vel minus, blanditiis perferendis ipsa voluptatem repellendus. Praesentium eos repellendus mollitia iusto laborum, a, commodi sint dolor ut assumenda quis rem explicabo. Reiciendis amet sequi consectetur dolores!</p>
  </div>
{% endblock %}
