# Database: PostgreSQL
# Замените YOUR_USERNAME на результат команды: whoami
DJANGO_DB_ENGINE=postgresql
DJANGO_DB_NAME=liveblog
DJANGO_DB_USER=YOUR_USERNAME
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=localhost
DJANGO_DB_PORT=5432
