{% extends 'base.html' %}
{% block title %}
  Login
{% endblock %}
{% block content %}
  <div class="container-main content_block auth-form-layout">
    <main class="edit-profile-field form-wrapper mx-auto">
      <form method="post" action="{% url 'login_app:login' %}" novalidate data-validate="true">
        {% csrf_token %}
        <h5 class="mb-3 fw-normal primary_ text-uppercase">Sign in</h5>
        {# GLOBAL / NON-FIELD ERRORS (User not found / Incorrect password) #}

        {# USERNAME #}
        <div class="form-floating mb-2">
          {{ form.username }}
          <label for="floatingInput" class="text-muted">Username...</label>
          {% if form.username.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.username.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# PASSWORD #}
        <div class="form-floating mb-2">
          {{ form.password }}
          <label for="floatingPassword" class="text-muted">Password...</label>
          {% if form.password.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.password.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="errors-block">
          {% if form.non_field_errors %}
            <div class="custom-alert custom-alert-danger mt-1" data-auto-dismiss="3000">
              {% for err in form.non_field_errors %}
                {{ err }}{% if not forloop.last %}
                  <br />
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# REMEMBER ME #}
        <div class="d-flex justify-content-between align-items-center small">
          <div class="form-check text-start my-3">
            {{ form.remember }}
            <label class="form-check-label ms-1 text-muted" for="checkDefault">Remember me</label>
          </div>
          <button type="button" class="text-muted text-decoration-none password-toggle small" data-password-toggle="1"></button>
        </div>

        {# BUTTONS #}
        <div class="d-flex justify-content-between align-items-center mt-2">
          <div class="d-flex gap-1">
            <button type="submit" class="cstm-btn-sm custom-primary-btn">Sign in</button>
            <a href="{% url 'login_app:register' %}" class="cstm-btn-sm custom-secondary-btn">Sign up</a>
          </div>

          {% comment %} <div class="another_login_block d-flex gap-1">
            <a href="#" class="google_btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sign in by Google"><i class="fa fa-google" aria-hidden="true"></i></a>
            <a href="#" class="apple_btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sign in by Apple"><i class="fa fa-apple" aria-hidden="true"></i></a>
            <a href="#" class="twitter_btn_login" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sign in by twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          </div> {% endcomment %}
        </div>
      </form>
    </main>
  </div>
{% endblock %}
