{% extends 'base.html' %}
{% block title %}
  {{ user_obj.username }} - {{ section_title }}
{% endblock %}
{% block content %}
  <div class="container content_block">
    <nav class="breadcrumb-trail mb-3" data-breadcrumbs data-breadcrumb-label="{{ section_title }} items" aria-label="Breadcrumb">
      <span class="breadcrumb-current">{{ section_title }} items</span>
      <span class="custom_badge_success">{{ section_count }}</span>
    </nav>

    {% if section == 'created' %}
      {% include 'includes/created_items.html' %}
    {% elif section == 'liked' %}
      {% include 'includes/liked_items.html' %}
    {% elif section == 'bookmarked' %}
      {% include 'includes/bookmarked_items.html' %}
    {% endif %}
  </div>
{% endblock %}
