{% extends 'base.html' %}
{% block title %}
  {{ user_obj.username }} - {{ section_title }}
{% endblock %}
{% block content %}
  <div class="container content_block">
    <div class="d-inline-flex gap-2 align-items-center fs-6 mb-3">
      <button type="button" class="text-muted back_btn p-0" id="backBreadcrumb"><i class="fa fa-angle-left back-angle me-2" aria-hidden="true"></i> Back</button>
      <span>/</span>
      <span class="success_ fw-semibold">{{ section_title }} items</span>
      <span class="custom_badge_success">{{ section_count }}</span>
    </div>

    {% if section == 'created' %}
      {% include 'includes/created_items.html' %}
    {% elif section == 'liked' %}
      {% include 'includes/liked_items.html' %}
    {% elif section == 'bookmarked' %}
      {% include 'includes/bookmarked_items.html' %}
    {% endif %}
  </div>
{% endblock %}
