{% extends 'base.html' %}
{% load static %}
{% block title %}
  Registration
{% endblock %}

{% block content %}
  <div class="container-main content_block auth-form-layout">
    <main class="edit-profile-field mx-auto">
      <form method="post" action="{% url 'login_app:register' %}" novalidate data-validate="true">
        {% csrf_token %}

        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="d-flex gap-3 align-items-center">
            <h6 class="m-0 fw-normal text-uppercase primary_">Sign up</h6>
            {% comment %} <button type="button" class="instruction-btn"><i class="fa fa-question-circle-o" aria-hidden="true"></i></button> {% endcomment %}
          </div>
          <small><a href="{% url 'login_app:login' %}" class="text-muted text-decoration-none">I have account</a></small>
        </div>
        {# USERNAME (required) #}
        <div class="form-floating mb-2">
          {{ form.username }}
          <label for="floatingUsername" class="text-muted">Username <span class="danger_">*</span></label>
          {% if form.username.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.username.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# FIRST NAME (optional) #}
        <div class="form-floating mb-2">
          {{ form.first_name }}
          <label for="floatingFirst" class="text-muted">First name (optional)</label>
          {% if form.first_name.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.first_name.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# SURNAME (optional) #}
        <div class="form-floating mb-2">
          {{ form.last_name }}
          <label for="floatingLast" class="text-muted">Surname (optional)</label>
          {% if form.last_name.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.last_name.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# EMAIL (optional) #}
        <div class="form-floating mb-2">
          {{ form.email }}
          <label for="floatingEmail" class="text-muted">Email (optional)</label>
          {% if form.email.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.email.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="form-floating mb-2">
          {{ form.avatar_url }}
          <label for="floatingAvatar" class="text-muted">Avatar URL (optional)</label>
          {% if form.avatar_url.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.avatar_url.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# PASSWORD #}
        <div class="form-floating mb-2">
          {{ form.password1 }}
          <label for="floatingPass1" class="text-muted">Password <span class="danger_">*</span></label>
          {% if form.password1.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.password1.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>

        {# PASSWORD CONFIRMATION #}
        <div class="form-floating mb-2">
          {{ form.password2 }}
          <label for="floatingPass2" class="text-muted">Password again <span class="danger_">*</span></label>
          {% if form.password2.errors %}
            <div class="text-danger small mt-1">
              {% for err in form.password2.errors %}
                {{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {# Form-level errors + username exists #}
        {% comment %} <div class="errors-block">
          {% if form.non_field_errors or form.username.errors %}
            <div class="custom-alert custom-alert-danger mt-2" data-auto-dismiss="3000">
              {% for err in form.non_field_errors %}
                {{ err }}{% if not forloop.last %}
                  <br />
                {% endif %}
              {% endfor %}
              {% for err in form.username.errors %}
                {% if form.non_field_errors %}
                  <br />
                {% endif %}{{ err }}
              {% endfor %}
            </div>
          {% endif %}
        </div> {% endcomment %}

        <div class="d-flex justify-content-between align-items-center mt-3">
          <div>
            <button type="submit" class="cstm-btn-sm custom-primary-btn">Sign up</button>
            <button id="genPassBtn" class="cstm-btn-sm custom-secondary-btn">Gen.Pass</button>
          </div>
          <small><button type="button" class="text-decoration-none text-muted password-toggle" data-password-toggle="1"></button></small>
        </div>
      </form>
      {% include 'includes/password_generator.html' %}
      {% include 'includes/instruction_modal.html' %}
    </main>
  </div>
{% endblock %}
