<!-- templates/includes/search_form.html -->
<div id="headerSearchOverlay" class="header-search-overlay">
  <div class="header-search-inner" id="headerSearchSticky">
    {% comment %} <h6 class="text-muted mb-3">Search by BraiNews</h6> {% endcomment %}
    <div class="header-search-row position-relative mb-3">
      <input id="headerSearchInput" class="header-search-input form-control" type="search" placeholder="What are you looking for?" aria-label="Search" />

      <!-- clear button: указывает data-target на input -->
      <button id="headerSearchClear" type="button" class="header-search-clear field-clear btn btn-link p-0 ms-2 hidden" data-target="#headerSearchInput" aria-label="Clear search"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>
    {% include 'includes/filter_block.html' %}
  </div>
</div>
