{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <link rel="icon" href="{% static 'img/cube-favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/public-breakpoints.css' %}" />
    <link rel="stylesheet" href="{% static 'pages/css/pages.css' %}" />
    <link rel="stylesheet" href="{% static 'smart_blog/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'login/css/login_app_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'pages/css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'smart_blog/css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'login/css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'smart_blog/vendor/fontawesome/css/font-awesome.min.css' %}" />
  </head>
  <body>
    {% include 'includes/header.html' %}

    <main class="main">
      {% block content %}

      {% endblock %}
    </main>

    {% include 'includes/footer.html' %}
  </body>
</html>
