{% extends 'base.html' %}
{% block title %}
  BraiNews
{% endblock %}

{% block content %}
  <div class="container content_block" data-brainews-listing>
      {% include 'includes/search_form.html' %}
    {% if items %}
      <div id="filterCardsWrapper" class="brainews-cards-wrapper">
        {% include 'includes/all_cards.html' with listing_source='items_list' listing_source_url=request.get_full_path %}
      </div>
      <div id="itemsListPagination" class="brainews-pagination filter-pagination-extra">
        {% include 'includes/pagination.html' %}
      </div>
    {% else %}
      <h5 class="text-muted pt-4">There are not items yet.</h5>
    {% endif %}
    <div class="hidden">
      {% include 'includes/overlay_search.html' %}
    </div>
  </div>
{% endblock %}


