<div class="d-flex align-items-center personal_block">
  <div class="personal_info">
    <ul class="list-group">
      {% for label, field in fields.items %}
        <li class="list-group-item d-flex gap-2 align-items-center justify-content-between personal-field">
          <span class="text-muted">{{ label }}</span>
          <span>
            {% if field.is_empty %}
              <span class="empty-field">Empty field</span>
            {% elif field.type == 'email' %}
              {% if field.is_owner %}
                <span id="emailValue">{{ field.value }}</span>
              {% else %}
                <a href="mailto:{{ field.value }}" class="custom_link_danger">{{ field.value }}</a>
              {% endif %}
            {% else %}
              <span class="fw-semibold">{{ field.value }}</span>
            {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% include 'includes/profile_avatar_viewer.html' %}
</div>
{% if user.is_authenticated and user.username == user_obj.username %}
  <div class="d-flex justify-content-between align-items-center mt-3">
    <div>
      <a class="cstm-btn-sm custom-primary-btn" href="{% url 'smart_blog:create_item' %}">Create post</a>
      <a class="cstm-btn-sm custom-primary-btn" href="{% url 'login_app:profile-edit' request.user.username %}"><i class="fa fa-cog" aria-hidden="true"></i></a>
    </div>
    <a class="cstm-btn-sm custom-danger-btn" href="{% url 'login_app:logout' %}">Sign out</a>
  </div>
{% endif %}
